body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;


}

.row {
    width: 100%;
    height: 1.5em;
    font-size: 1em;
    float: left;
}

.row-name, .row-value {
    width: 50%;
    float: left;
}

.input-container, .output-container {
    width: 49%;
    float: left;
}

.input-container {
   border-right: medium ridge #222;
}

.output-container {
   border-left: medium ridge #222;
}

.input-title, .output-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
